{% extends 'base.html.twig' %}

{% block title %}PixiShare - Welcome{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home_css') }}
{% endblock %}

{% block body %}
    <div class="content">
        <img src="{{ asset('images/logo.png') }}">
        <a href="{% if app.user %}{{ path('gallery') }}{% else %}{{ path('login') }}{% endif %}" class="login"><img src="{{ asset('images/home/login.png') }}"></a>
    </div>
{% endblock %}