{% extends 'base.html.twig' %}

{% block title %}PixiShare - Accueil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home_css') }}
{% endblock %}

{% block body %}
    <img class="background" src="{{ asset('images/home/background.jpg') }}">
    <div class="content">
        <a href="{{ path('login') }}" class="connection"><img src="{{ asset('images/home/cadenas.png') }}"> Connexion</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home_js') }}
{% endblock %}
