{% extends 'base.html.twig' %}

{% block title %}Ma galerie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('gallery_css') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="content">
        {% for album in albums %}
            {% if album.cover.filepath is defined %}
                <div class="album">
                    <h2>{{ album.name | capitalize }}</h2>
                    <p>{{ album.description }}</p>
                    <div>
                        <a href="{{ path('album', { 'id': album.id }) }}">
                            <img src="{{ asset(album.cover.filepath) }}">
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="album">
                    <h2>{{ album.name | capitalize }}</h2>
                    <p>{{ album.description }}</p>
                    <a href="{{ path('album', { 'id': album.id }) }}">
                    <div class="add-cover">
                            <p>Ajouter une couverture</p>
                    </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <div class="album">
            <a class="container-photo container-plus upload" href="{{ path('gallery_upload') }}">
                <img class="plus" src="{{ asset('images/gallery/plus.png') }}" alt="plus icon">
            </a>
        </div>
    </div>

{% endblock %}

