{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('gallery_css') }}
{% endblock %}

{% block body %}
    <a href="{{ path('gallery_upload') }}" class="upload">Upload</a>
    <div class="content">
    {% for album in albums %}
        <div class="album">
            <h3>{{ album.name | capitalize }}</h3>
            <p>{{ album.description }}</p>
            <div class="container-photo">
                {% for photos in album.photos %}
                    <img src="{{ asset(photos.filePath) }}">
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

