{% extends 'base.html.twig' %}

{% block title %}
    Pixishare - Ma galerie
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('gallery_css') }}
    {{ encore_entry_link_tags('uploadModal_css') }}
{% endblock %}

{% block body %}
    <div class="upload-modal">
    </div>
    <div class="content-gallery">
        {% for album in albums %}
            <div class="album">
                <div class="filter"></div>
                <div class="info-album">
                    <h5 class="album-name">{{ album.name | capitalize }}</h5>
                    <p class="photos-count">{{ album.photos | length }}{% if  album.photos | length > 1 %} photos {% else %} photo {% endif %}</p>
                </div>
                <div class="container-album">
                    <a href="{{ path('album', { 'id': album.id }) }}">
                        {% if album.cover.filepath is defined %}
                            <img class="thumbnail" src="{{ asset(album.cover.thumbnail) }}">
                        {% else %}
                            <img class="gallery-icon" src="{{ asset('images/galerie.png') }}">
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const eventSource = new EventSource("{{ mercure('/images')|escape('js') }}");
        eventSource.onmessage = event => {
            let total = JSON.parse(event.data)['total']
            let item = JSON.parse(event.data)['item']
            let progressBar = document.querySelector('.progress-bar');
            let percentageContainer = document.querySelector('.percentage');
            const percentage = (item / total) * 100;
            progressBar.style.width = percentage + '%';
            percentageContainer.innerHTML = Math.round(percentage) + '%';
            if (total === item) {
                let container = document.querySelector('.container');
                let uploadModal = document.querySelector('.upload-modal');
                setTimeout(function () {
                    container.innerHTML = 'Fichier(s) traité(s) avec succès.';
                    setTimeout(function () {
                        container.style.display = 'none';
                        uploadModal.style.display = 'none';
                        location.reload();
                    }, 2000)
                }, 1000)
            }
        }
    </script>
    {{ encore_entry_script_tags('gallery_js') }}
{% endblock %}