{% extends 'base.html.twig' %}
{% block title %}Ma galerie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('album_css') }}
    {{ encore_entry_link_tags('justifiedGallery_css') }}
{% endblock %}

{% block body %}
        <h1 class="text-center mt-5 title">{{ album.name }}</h1>
        <div class="content justified-gallery">
            {% for photo in album.photos %}
                <div>
                    <img class="photo" data-id="{{ photo.id }}" src="{{ asset(photo.thumbnail) }}">
                </div>
            {% endfor %}
        </div>
    <div class="modal"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('album_js') }}
{% endblock %}

